![Newyork](istockphoto-533998713-612x612.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like .csv, .tsv, and .xlsx.

Recall that CSV, TSV, and Excel files are three common formats for storing data. Three files containing data on 2019 Airbnb listings are available to you:

data/airbnb_price.csv This is a CSV file containing data on Airbnb listing prices and locations.

listing_id: unique identifier of listing
price: nightly listing price in USD
nbhood_full: name of borough and neighborhood where listing is located
data/airbnb_room_type.xlsx This is an Excel file containing data on Airbnb listing descriptions and room types.

listing_id: unique identifier of listing
description: listing description
room_type: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments
data/airbnb_last_review.tsv This is a TSV file containing data on Airbnb host names and review dates.

listing_id: unique identifier of listing
host_name: name of listing host
last_review: date when the listing was last reviewed

As a consultant working for a real estate start-up, you have collected Airbnb listing data from various sources to investigate the short-term rental market in New York. You'll analyze this data to provide insights on private rooms to the real estate company.

There are three files in the data folder: airbnb_price.csv, airbnb_room_type.xlsx, airbnb_last_review.tsv.

What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.
How many of the listings are private rooms? Save this into any variable.
What is the average listing price? Round to the nearest two decimal places and save into a variable.
Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [5]:
csv=pd.read_csv("airbnb_price.csv")
xlsx=pd.ExcelFile("airbnb_room_type.xlsx")
tsv=pd.read_csv("airbnb_last_review.tsv", sep='\t')

In [8]:
csv.head(2)

   listing_id        price             nbhood_full
0        2595  225 dollars      Manhattan, Midtown
1        3831   89 dollars  Brooklyn, Clinton Hill

In [11]:
    df1=xlsx.parse(0)

In [13]:
df1.head(2)

   listing_id                      description        room_type
0        2595            Skylit Midtown Castle  Entire home/apt
1        3831  Cozy Entire Floor of Brownstone  Entire home/apt

In [21]:
# Get the sheet names from the Excel file
sheet_names = xlsx.sheet_names

# Count the number of sheets (worksheets) in the Excel file
number_of_sheets = len(sheet_names)
print(f"Name of sheets:{sheet_names}")
print(f'Number of sheets:{number_of_sheets}')

Name of sheets:['airbnb_room_type']
Number of sheets:1

In [23]:
tsv.head(2)

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019

In [25]:
# First merge: Merge df1 and df2 on 'key_column'
merged_df = pd.merge(csv, df1, on='listing_id', how='inner')

# Second merge: Merge the result with df3 on 'key_column'
merged_df = pd.merge(merged_df, tsv, on='listing_id', how='inner')

In [26]:
merged_df

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019
...,...,...,...,...,...,...,...
25204,36425863,129 dollars,"Manhattan, Upper East Side",Lovely Privet Bedroom with Privet Restroom,PRIVATE ROOM,Rusaa,July 07 2019
25205,36427429,45 dollars,"Queens, Flushing",No.2 with queen size bed,PRIVATE ROOM,H Ai,July 07 2019
25206,36438336,235 dollars,"Staten Island, Great Kills",Seas The Moment,Private room,Ben,July 07 2019
25207,36442252,100 dollars,"Bronx, Mott Haven",1B-1B apartment near by Metro,Entire home/apt,Blaine,July 07 2019
25208,36455809,30 dollars,"Brooklyn, Bushwick","Cozy Private Room in Bushwick, Brooklyn",Private room,Christine,July 08 2019

In [27]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.5+ MB

In [28]:
merged_df.dtypes

listing_id      int64
price          object
nbhood_full    object
description    object
room_type      object
host_name      object
last_review    object
dtype: object

In [29]:
merged_df.describe()

         listing_id
count  2.520900e+04
mean   2.068922e+07
std    1.102928e+07
min    2.595000e+03
25%    1.202273e+07
50%    2.234391e+07
75%    3.037669e+07
max    3.645581e+07

In [31]:
merged_df.isna().sum()

listing_id      0
price           0
nbhood_full     0
description    10
room_type       0
host_name       8
last_review     0
dtype: int64

In [33]:
merged_df.isna().tail()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
25204,False,False,False,False,False,False,False
25205,False,False,False,False,False,False,False
25206,False,False,False,False,False,False,False
25207,False,False,False,False,False,False,False
25208,False,False,False,False,False,False,False

In [35]:
#Removing dollars from price column
merged_df["price"]=merged_df["price"].str.strip("dollars")

In [37]:
#changing Price data type to int
merged_df["price"]=merged_df["price"].astype(int)

In [38]:
#Verify if column is an integer
assert merged_df["price"].dtype=="int"

In [41]:
#Changing room type to category data type
merged_df["room_type"]=merged_df["room_type"].astype("category")

In [46]:
merged_df["room_type"].value_counts()

Entire home/apt    8458
Private room       7241
entire home/apt    2665
private room       2248
ENTIRE HOME/APT    2143
PRIVATE ROOM       1867
Shared room         380
shared room         110
SHARED ROOM          97
Name: room_type, dtype: int64

In [50]:
#Capitalising category Values to ensure consistency
merged_df["room_type"]=merged_df["room_type"].str.upper()

In [49]:
merged_df["room_type"].value_counts()

ENTIRE HOME/APT    13266
PRIVATE ROOM       11356
SHARED ROOM          587
Name: room_type, dtype: int64

In [54]:
total_privateroom = 11356

In [52]:
#converting last Review t date
merged_df["last_review"]=pd.to_datetime(merged_df["last_review"])

In [53]:
merged_df.dtypes

listing_id              int64
price                   int32
nbhood_full            object
description            object
room_type              object
host_name              object
last_review    datetime64[ns]
dtype: object

In [62]:
to_date=dt.date.today()
print(to_date)

2024-05-07

In [68]:
#finding the earliest and latest review dates
earliest_review_date = merged_df['last_review'].min()
latest_review_date = merged_df['last_review'].max()
print(f'the earliest review date is:{earliest_review_date}')
print(f'the latest review date is:{latest_review_date}')

the earliest review date is:2019-01-01 00:00:00
the latest review date is:2019-07-09 00:00:00

In [74]:
#finding Average Price
Avg_price= round(merged_df['price'].mean(),2)
print(f'the average price is:{Avg_price}')

the average price is:141.78

In [75]:
#first_reviewed, last_reviewed, nb_private_rooms,  avg_price
dict={"first_reviewed":"2019-01-01","last_reviewed":"2019-07-09","nb_private_rooms":11356,"avg_price":141.78}

In [80]:
# Convert the dictionary to a DataFrame
df = pd.DataFrame.from_dict(dict, orient='index')

# Transpose the DataFrame to have keys as columns and values as rows
df = df.T

In [81]:
df

  first_reviewed last_reviewed nb_private_rooms avg_price
0     2019-01-01    2019-07-09            11356    141.78